<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="../../public/js/main.js"></script>
    <title>Biblioteca Online</title>
</head>

<body>
    <div class="conteiner">
        <header id="cabecalho">
            <h1 class="txt">Biblioteca Online</h1>

            <div id="links">
                <a href="/cadastrar/index">Cadastrar Livro</a>
                <% if(user) { %>
                    <a href="/login/logout">Sair</a>
                    <% }else{ %>
                        <a href="/login">Entrar</a>
                        <% }%>

            </div>


        </header>
        <%- include('includes/messages') %>
            <main>
                <div id="inputBusca">
                    <form action="/busca" method="post">
                        <input type="text" name="busca" id="busca" placeholder="Pequise por livros aqui... " autocomplete="off">
                    </form>
                </div>
                    <section>
                        <div id="capas">
                            <% if (item && item.length> 0) { %>
                                <% item.forEach(itens=> { %>
                                    <div class="livro">
                                        <h2 id="titulo" class="texto"><%- itens.titulo.toUpperCase() %></h2>
                                        <img src="<%- itens.capa %>" alt="Capa do livro">
                                        <h3 id="autor" class="texto">Autor: <%- itens.autor%></h3>
                                        <h4 id="genero" class="texto">Genero: <%- itens.genero%></h4>
                                        <button type="submit"><a href="/detalhes/<%- itens.id %>">EDITAR LIVRO</a></button>
                                    </div>
                                <% }) %>
                            <% } %>
                        </div>
                    </section>
            </main>
            <footer id="footer">
                <p>Criado e desenvolvido por Davi Lucas</p>
                <p><a href="https://github.com/davilucca22" target="_blank" >Link Github</a></p>
            </footer>
    </div>
</body>

</html>